<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshore.zswh.common.mapper.member.MemberEvaluateMapper">

    <select id="selectFirstLevelEvalute" resultType="com.eshore.zswh.common.vo.member.MemberEvaluateVO">
        select me.*, m.nickname username, m.head_url
        from member_evaluate me
                 left join member m
                           ON me.member_id = m.id
        where me.audit_status = 2
          and me.parent_id = 0
          and me.obj_type = #{objType}
          and me.obj_id = #{objId}
        order by me.create_time desc
    </select>

    <select id="selectEvaluateByParentId" resultType="com.eshore.zswh.common.vo.member.MemberEvaluateVO">
        select me.*, m.nickname username
        from member_evaluate me
                 left join member m
                           ON me.member_id = m.id
        where me.audit_status = 2
          and me.parent_id = #{parentId}
        order by me.create_time
    </select>


    <update id="updateEvaluateNumByType">
        # 活动
        update act_record a
            left join (select obj_id, count(*) num
                       FROM member_evaluate
                       WHERE obj_type = 1
                         and audit_status = 2
                         and create_time &lt;= #{currentTime}
                       GROUP BY obj_id) t on a.act_id = t.obj_id
        set a.evaluate_num = IFNULL(t.num, 0);

        # 设施
        update venue_record r
            left join (select obj_id, count(*) num
                       FROM member_evaluate
                       WHERE obj_type = 2
                         and audit_status = 2
                         and create_time &lt;= #{currentTime}
                       GROUP BY obj_id) t on r.obj_id = t.obj_id
        set r.evaluate_num = IFNULL(t.num, 0)
        where r.obj_type = 1;

        # 话题
        update topic_act_stat s
            left join (select obj_id, count(*) num
                       FROM member_evaluate
                       WHERE obj_type = 3
                         and audit_status = 2
                         and create_time &lt;= #{currentTime}
                       GROUP BY obj_id) t on s.obj_id = t.obj_id
        set s.evaluate_num = IFNULL(t.num, 0)
        where s.obj_type = 3;

        # 你点我送
        update topic_act_stat s
            left join (select obj_id, count(*) num
                       FROM member_evaluate
                       WHERE obj_type = 4
                         and audit_status = 2
                         and create_time &lt;= #{currentTime}
                       GROUP BY obj_id) t on s.obj_id = t.obj_id
        set s.evaluate_num = IFNULL(t.num, 0)
        where s.obj_type = 1;

        # 活动场室
        update venue_record r
            left join (select obj_id, count(*) num
                       FROM member_evaluate
                       WHERE obj_type = 5
                         and audit_status = 2
                         and create_time &lt;= #{currentTime}
                       GROUP BY obj_id) t on r.obj_id = t.obj_id
        set r.evaluate_num = IFNULL(t.num, 0)
        where r.obj_type = 2;

        # 社团
        update club_record r
            left join (select obj_id, count(*) num
                       FROM member_evaluate
                       WHERE obj_type = 6
                         and audit_status = 2
                         and create_time &lt;= #{currentTime}
                       GROUP BY obj_id) t on r.club_id = t.obj_id
        set r.evaluate_num = IFNULL(t.num, 0);

        # 远程点播
        update video_record r
            left join (select obj_id, count(*) num
                       FROM member_evaluate
                       WHERE obj_type = 8
                         and audit_status = 2
                         and create_time &lt;= #{currentTime}
                       GROUP BY obj_id) t on r.video_id = t.obj_id
        set r.evaluate_num = IFNULL(t.num, 0);

        # 精品路线
        update topic_act_stat s
            left join (select obj_id, count(*) num
                       FROM member_evaluate
                       WHERE obj_type = 9
                         and audit_status = 2
                         and create_time &lt;= #{currentTime}
                       GROUP BY obj_id) t on s.obj_id = t.obj_id
        set s.evaluate_num = IFNULL(t.num, 0)
        where s.obj_type = 5;

        # 文化旅游
        update topic_act_stat s
            left join (select obj_id, count(*) num
                       FROM member_evaluate
                       WHERE obj_type = 10
                         and audit_status = 2
                         and create_time &lt;= #{currentTime}
                       GROUP BY obj_id) t on s.obj_id = t.obj_id
        set s.evaluate_num = IFNULL(t.num, 0)
        where s.obj_type = 6;
    </update>

    <update id="increaseEvaluateNumByType">
        # 活动
        update act_record a
            inner join (select obj_id, count(*) num
                        FROM member_evaluate
                        WHERE obj_type = 1
                          and audit_status = 2
                          and create_time &gt; #{startTime}
                          and create_time &lt;= #{endTime}
                        GROUP BY obj_id) t on a.act_id = t.obj_id
        set a.evaluate_num = a.evaluate_num + t.num;

        # 设施
        update venue_record r
            inner join (select obj_id, count(*) num
                        FROM member_evaluate
                        WHERE obj_type = 2
                          and audit_status = 2
                          and create_time &gt; #{startTime}
                          and create_time &lt;= #{endTime}
                        GROUP BY obj_id) t on r.obj_id = t.obj_id
        set r.evaluate_num = r.evaluate_num + t.num
        where r.obj_type = 1;

        # 话题
        update topic_act_stat s
            inner join (select obj_id, count(*) num
                        FROM member_evaluate
                        WHERE obj_type = 3
                          and audit_status = 2
                          and create_time &gt; #{startTime}
                          and create_time &lt;= #{endTime}
                        GROUP BY obj_id) t on s.obj_id = t.obj_id
        set s.evaluate_num = s.evaluate_num + t.num
        where s.obj_type = 3;

        # 你点我送
        update topic_act_stat s
            inner join (select obj_id, count(*) num
                        FROM member_evaluate
                        WHERE obj_type = 4
                          and audit_status = 2
                          and create_time &gt; #{startTime}
                          and create_time &lt;= #{endTime}
                        GROUP BY obj_id) t on s.obj_id = t.obj_id
        set s.evaluate_num = s.evaluate_num + t.num
        where s.obj_type = 1;

        # 活动场室
        update venue_record r
            inner join (select obj_id, count(*) num
                        FROM member_evaluate
                        WHERE obj_type = 5
                          and audit_status = 2
                          and create_time &gt; #{startTime}
                          and create_time &lt;= #{endTime}
                        GROUP BY obj_id) t on r.obj_id = t.obj_id
        set r.evaluate_num = r.evaluate_num + t.num
        where r.obj_type = 2;

        # 社团
        update club_record r
            inner join (select obj_id, count(*) num
                        FROM member_evaluate
                        WHERE obj_type = 6
                          and audit_status = 2
                          and create_time &gt; #{startTime}
                          and create_time &lt;= #{endTime}
                        GROUP BY obj_id) t on r.club_id = t.obj_id
        set r.evaluate_num = r.evaluate_num + t.num;

        # 远程点播
        update video_record r
            inner join (select obj_id, count(*) num
                        FROM member_evaluate
                        WHERE obj_type = 8
                          and audit_status = 2
                          and create_time &gt; #{startTime}
                          and create_time &lt;= #{endTime}
                        GROUP BY obj_id) t on r.video_id = t.obj_id
        set r.evaluate_num = r.evaluate_num + t.num;

        # 精品路线
        update topic_act_stat s
            inner join (select obj_id, count(*) num
                        FROM member_evaluate
                        WHERE obj_type = 9
                          and audit_status = 2
                          and create_time &gt; #{startTime}
                          and create_time &lt;= #{endTime}
                        GROUP BY obj_id) t on s.obj_id = t.obj_id
        set s.evaluate_num = s.evaluate_num + t.num
        where s.obj_type = 5;

        # 文化旅游
        update topic_act_stat s
            inner join (select obj_id, count(*) num
                        FROM member_evaluate
                        WHERE obj_type = 10
                          and audit_status = 2
                          and create_time &gt; #{startTime}
                          and create_time &lt;= #{endTime}
                        GROUP BY obj_id) t on s.obj_id = t.obj_id
        set s.evaluate_num = s.evaluate_num + t.num
        where s.obj_type = 6;
    </update>

</mapper>
